<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <!-- <div class="text-muted text-center mt-2 mb-3">
            <small>Sign in with</small>
                </div>-->

                <div class="text-center mb-1">
                  <h3 class="mb-0">Data Ayah</h3>
                </div>
                <!-- <div class="text-center mt-2 mb-3"> -->
                <!-- <router-link to="/tables">
                    <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>-->
                <!-- </div> -->
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="addAyah()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Ayah"
                    v-model="ayah.id_ayah"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Nama Ayah"
                    v-model="ayah.nama_ayah"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="NIK Ayah"
                    v-model="ayah.nik_ayah"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Tambah Ayah</button>
                  </div>

                  <!-- <base-input type="submit" /> -->

                  <!-- <button type="primary">Add</button> -->

                  <!-- <base-input
              class="input-group-alternative"
              placeholder="Password"
              type="password"
              addon-left-icon="ni ni-lock-circle-open"
              v-model="model.password"
                  ></base-input>-->

                  <!-- <div class="text-center">
              <base-button type="primary" class="my-4">Add</base-button>
                  </div>-->
                </form>
              </div>
            </div>
            <!-- <div class="card bg-secondary shadow border-0"> -->
            <div class="card-header bg-transparent pb-0">
              <!-- <div class="text-muted text-center mt-2 mb-3">
            <small>Sign in with</small>
              </div>-->
              <div class="text-center mt-2 mb-3">
                <router-link to="/orangtua">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "add-ayah",

  data() {
    return {
      ayah: {
        id_ayah: "",
        nama_ayah: "",
        nik_ayah: "",
      },
    };
  },
  methods: {
    addAyah() {
      axios.post(`http://localhost:8081/api/v1/ayah`, this.ayah);
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Ayah Berhasil Ditambahkan!",
      });
      window.location.replace("/orangtua#/orangtua");
    },
  },
};
</script>
