<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-center mb-1">
                  <h3 class="mb-0">Data Beasiswa</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="addBeasiswa()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Beasiswa"
                    v-model="beasiswa.id_beasiswa"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Jenis Beasiswa"
                    v-model="beasiswa.jenis_beasiswa"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Siswa Penerima Beasiswa"
                    v-model="beasiswa.id_siswa"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Tambah Beasiswa</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-header bg-transparent pb-0">
              <div class="text-center mt-2 mb-3">
                <router-link to="/tables">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "add-beasiswa",

  data() {
    return {
      beasiswa: {
        id_beasiswa: "",
        jenis_beasiswa: "",
        id_siswa: "",
      },
    };
  },
  methods: {
    addBeasiswa() {
      axios.all([
        axios.post(`http://localhost:8081/api/v1/beasiswa`, this.beasiswa),
        axios.post(`http://localhost:8081/api/v1/siswabeasiswa`, this.beasiswa),
      ]);
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Beasiswa Berhasil Ditambahkan!",
      });
      window.location.replace("/tables#/tables");
    },
  },
};
</script>
