<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-center mb-1">
                  <h3 class="mb-0">Data Keluar</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="addKeluar()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Keluar"
                    v-model="keluar.id_keluar"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Alasan Keluar"
                    v-model="keluar.alasan"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Siswa Keluar"
                    v-model="keluar.id_siswa"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Tambah Data</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-header bg-transparent pb-0">
              <div class="text-center mt-2 mb-3">
                <router-link to="/keluar">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "add-keluar",

  data() {
    return {
      keluar: {
        id_keluar: "",
        alasan: "",
        id_siswa: "",
      },
    };
  },
  methods: {
    addKeluar() {
      axios.post(`http://localhost:8081/api/v1/keluar`, this.keluar);
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Siswa Keluar Berhasil Ditambahkan!",
      });
      window.location.replace("/keluar#/keluar");
    },
  },
};
</script>
