<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-center mb-1">
                  <h3 class="mb-0">Data Priodik</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="addPriodik()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Priodik"
                    v-model="priodik.id_priodik"
                  ></base-input>

                  <base-input
                    type="number"
                    class="input-group-alternative mb-3"
                    placeholder="Tinggi Badan"
                    v-model="priodik.tinggi_badan"
                  ></base-input>

                  <base-input
                    type="number"
                    class="input-group-alternative mb-3"
                    placeholder="Berat Badan"
                    v-model="priodik.berat_badan"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Siswa"
                    v-model="priodik.id_siswa"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Tambah Priodik</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-header bg-transparent pb-0">
              <div class="text-center mt-2 mb-3">
                <router-link to="/tables">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "add-priodik",

  data() {
    return {
      priodik: {
        id_priodik: "",
        id_siswa: "",
        tinggi_badan: "",
        berat_badan: "",
      },
    };
  },
  methods: {
    addPriodik() {
      axios.all([
        axios.post(`http://localhost:8081/api/v1/priodik`, this.priodik),
        axios.put(
          `http://localhost:8081/api/v1/user/updatepriodiksiswa?id=${this.priodik.id_siswa}`,
          this.priodik
        ),
      ]);
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Priodik Berhasil Ditambahkan!",
      });
      window.location.replace("/tables#/tables");
    },
  },
};
</script>
