<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <!-- <div class="text-muted text-center mt-2 mb-3">
            <small>Sign in with</small>
                </div>-->

                <div class="text-center mb-1">
                  <h3 class="mb-0">Data Siswa</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="addSiswa()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Siswa"
                    v-model="siswa.id_siswa"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Nama Lengkap"
                    v-model="siswa.nama_lengkap"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Jenis Kelamin"
                    v-model="siswa.jenis_kelamin"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Tempat Lahir"
                    v-model="siswa.tempat_lahir"
                  ></base-input>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Tambah Siswa</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="card bg-secondary shadow border-0"> -->
            <div class="card-header bg-transparent pb-0">
              <!-- <div class="text-muted text-center mt-2 mb-3">
            <small>Sign in with</small>
              </div>-->
              <div class="text-center mt-2 mb-3">
                <router-link to="/tables">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "add-siswa",

  data() {
    return {
      siswa: {
        id_siswa: "",
        nama_lengkap: "",
        jenis_kelamin: "",
        tempat_lahir: "",
      },
    };
  },
  methods: {
    addSiswa() {
      axios.post(`http://localhost:8081/api/v1/user`, this.siswa);
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Siswa Berhasil Ditambahkan!",
      });
      window.location.replace("/tables#/tables");
    },
  },
};
</script>
