<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-center mb-1">
                  <h3 class="mb-0">Data Wali</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="addWali()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Wali"
                    v-model="wali.id_wali"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Nama Wali"
                    v-model="wali.nama_wali"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="NIK Wali"
                    v-model="wali.nik_wali"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Tambah Wali</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-header bg-transparent pb-0">
              <div class="text-center mt-2 mb-3">
                <router-link to="/orangtua">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "add-wali",

  data() {
    return {
      wali: {
        id_wali: "",
        nama_wali: "",
        nik_wali: "",
      },
    };
  },
  methods: {
    addWali() {
      axios.post(`http://localhost:8081/api/v1/wali`, this.wali);
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Wali Berhasil Ditambahkan!",
      });
      window.location.replace("/orangtua#/orangtua");
    },
  },
};
</script>
