<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
      <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent' : ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">Data Ayah</h3>
          </div>
          <div class="col text-right">
            <!-- <base-button type="primary" size="sm">See all</base-button> -->

            <router-link to="/addayah">
              <base-button type="success" size="sm">Add Ayah</base-button>
            </router-link>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
        >
          <tr>
            <th>ID Ayah</th>
            <th>Nama Ayah</th>
            <th>NIK</th>
            <th>ID Siswa</th>
            <th>Nama Siswa</th>
            <th>Action</th>
          </tr>

          <tr scope="row" v-for="dataayah in ayah" :key="dataayah.id_ayah">
            <td>{{ dataayah.id_ayah }}</td>
            <td>{{ dataayah.nama_ayah }}</td>
            <td>{{ dataayah.nik_ayah }}</td>
            <td>{{ dataayah.id_siswa }}</td>
            <td>{{ dataayah.nama_lengkap }}</td>

            <td>
              <base-button type="danger" size="sm" v-on:click="deleteAyah(dataayah.id_ayah)">Delete</base-button>

              <router-link :to="`/updateayah/${dataayah.id_ayah}`">
                <base-button type="default" size="sm">Update</base-button>
              </router-link>&nbsp;&nbsp;
              <router-link :to="`/ayahassignanak/${dataayah.id_ayah}`">
                <base-button type="info" size="sm">Assign Anak</base-button>
              </router-link>
            </td>
          </tr>
        </table>

        <div
          class="card-footer d-flex justify-content-end"
          :class="type === 'dark' ? 'bg-transparent' : ''"
        >
          <base-pagination total="30"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "ayah-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      ayah: [],
    };
  },

  created() {
    axios
      .get("http://localhost:8081/api/v1/ayah/getallayah")
      .then((response) => {
        this.ayah = response.data.result;
        // console.log(response);
      });
  },

  methods: {
    deleteAyah(id_ayah) {
      Swal.fire({
        title: "Konfirmasi Hapus Data Ayah",
        text: "Apakah anda yakin ingin menghapus data ayah?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
        cancelButtonText: "Tidak!",
      }).then((result) => {
        if (result.value) {
          axios.delete(`http://localhost:8081/api/v1/ayah?id=${id_ayah}`);
          Swal.fire("Terhapus!", "Data ayah berhasil dihapus.", "success");
          window.location.reload();
        }
      });
    },
  },
};
</script>
<style></style>
