<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
      <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent' : ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">Data Beasiswa</h3>
          </div>
          <div class="col text-right">
            <!-- <base-button type="primary" size="sm">See all</base-button> -->

            <router-link to="/addbeasiswa">
              <base-button type="success" size="sm">Add Beasiswa</base-button>
            </router-link>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
        >
          <tr>
            <th>ID Siswa</th>
            <th>Nama Siswa</th>
            <th>Jenis Beasiswa</th>
            <th>ID Beasiswa</th>
            <th>Action</th>
          </tr>

          <tr scope="row" v-for="databeasiswa in beasiswa" :key="databeasiswa.id_beasiswa">
            <td>{{ databeasiswa.id_siswa }}</td>
            <td>{{ databeasiswa.nama_lengkap }}</td>
            <td>{{ databeasiswa.jenis_beasiswa }}</td>
            <td>{{ databeasiswa.id_beasiswa }}</td>

            <td>
              <!-- <base-button
                type="danger"
                size="sm"
                v-on:click="deleteBeasiswa(databeasiswa.id_beasiswa)"
              >Delete</base-button>-->

              <router-link :to="`/updatebeasiswa/${databeasiswa.id_beasiswa}`">
                <base-button type="default" size="sm">Update</base-button>
              </router-link>
            </td>
          </tr>
        </table>

        <div
          class="card-footer d-flex justify-content-end"
          :class="type === 'dark' ? 'bg-transparent' : ''"
        >
          <base-pagination total="30"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "beasiswa-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      beasiswa: [],
    };
  },

  created() {
    axios
      .get("http://localhost:8081/api/v1/beasiswa/getallbeasiswa")
      .then((response) => {
        this.beasiswa = response.data.result;
        //   console.log(response);
      });
  },

  methods: {
    deleteBeasiswa(id_beasiswa) {
      Swal.fire({
        title: "Konfirmasi Hapus Data Beasiswa",
        text: "Apakah anda yakin ingin menghapus data beasiswa?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
        cancelButtonText: "Tidak!",
      }).then((result) => {
        if (result.value) {
          axios.delete(
            `http://localhost:8081/api/v1/beasiswa?id=${id_beasiswa}`
          );
          Swal.fire("Terhapus!", "Data beasiswa berhasil dihapus.", "success");
          window.location.reload();
        }
      });
    },
  },
};
</script>
<style></style>
