<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
      <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent' : ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">Data Ibu</h3>
          </div>
          <div class="col text-right">
            <!-- <base-button type="primary" size="sm">See all</base-button> -->

            <router-link to="/addibu">
              <base-button type="success" size="sm">Add Ibu</base-button>
            </router-link>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
        >
          <tr>
            <th>ID Ibu</th>
            <th>Nama Ibu</th>
            <th>NIK</th>
            <th>ID Siswa</th>
            <th>Nama Siswa</th>
            <th>Action</th>
          </tr>

          <tr scope="row" v-for="dataibu in ibu" :key="dataibu.id_ibu">
            <td>{{ dataibu.id_ibu }}</td>
            <td>{{ dataibu.nama_ibu }}</td>
            <td>{{ dataibu.nik_ibu }}</td>
            <td>{{ dataibu.id_siswa }}</td>
            <td>{{ dataibu.nama_lengkap }}</td>

            <td>
              <base-button type="danger" size="sm" v-on:click="deleteIbu(dataibu.id_ibu)">Delete</base-button>

              <router-link :to="`/updateibu/${dataibu.id_ibu}`">
                <base-button type="default" size="sm">Update</base-button>
              </router-link>&nbsp;&nbsp;
              <router-link :to="`/ibuassignanak/${dataibu.id_ibu}`">
                <base-button type="info" size="sm">Assign Anak</base-button>
              </router-link>
            </td>
          </tr>
        </table>

        <div
          class="card-footer d-flex justify-content-end"
          :class="type === 'dark' ? 'bg-transparent' : ''"
        >
          <base-pagination total="30"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "ibu-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      ibu: [],
    };
  },

  created() {
    axios.get("http://localhost:8081/api/v1/ibu/getallibu").then((response) => {
      this.ibu = response.data.result;
      //   console.log(response);
    });
  },

  methods: {
    deleteIbu(id_ibu) {
      Swal.fire({
        title: "Konfirmasi Hapus Data Ibu",
        text: "Apakah anda yakin ingin menghapus data ibu?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
        cancelButtonText: "Tidak!",
      }).then((result) => {
        if (result.value) {
          axios.delete(`http://localhost:8081/api/v1/ibu?id=${id_ibu}`);
          Swal.fire("Terhapus!", "Data ibu berhasil dihapus.", "success");
          window.location.reload();
        }
      });
    },
  },
};
</script>
<style></style>
