<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
      <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent' : ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">Data Murid Keluar</h3>
          </div>
          <div class="col text-right">
            <!-- <base-button type="primary" size="sm">See all</base-button> -->

            <router-link to="/addkeluar">
              <base-button type="success" size="sm">Add Data Keluar</base-button>
            </router-link>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
        >
          <tr>
            <th>ID Siswa</th>
            <th>Alasan</th>
            <th>ID Keluar</th>
            <!-- <th>Action</th> -->
          </tr>

          <tr scope="row" v-for="datakeluar in keluar" :key="datakeluar.id_keluar">
            <td>{{ datakeluar.id_siswa }}</td>
            <td>{{ datakeluar.alasan }}</td>
            <td>{{ datakeluar.id_keluar }}</td>
            <!-- <td>
              <base-button
                type="danger"
                size="sm"
                v-on:click="deleteKeluar(datakeluar.id_keluar)"
              >Delete</base-button>

              <router-link :to="`/updatekeluar/${datakeluar.id_keluar}`">
                <base-button type="default" size="sm">Update</base-button>
              </router-link>
            </td>-->
          </tr>
        </table>

        <div
          class="card-footer d-flex justify-content-end"
          :class="type === 'dark' ? 'bg-transparent' : ''"
        >
          <base-pagination total="30"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "keluar-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      keluar: [],
    };
  },

  created() {
    axios
      .get("http://localhost:8081/api/v1/keluar/getallkeluar")
      .then((response) => {
        this.keluar = response.data.result;
        //   console.log(response);
      });
  },

  methods: {
    deleteKeluar(id_keluar) {
      Swal.fire({
        title: "Konfirmasi Hapus Data Keluar",
        text: "Apakah anda yakin ingin menghapus data keluar?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
        cancelButtonText: "Tidak!",
      }).then((result) => {
        if (result.value) {
          axios.delete(`http://localhost:8081/api/v1/keluar?id=${id_keluar}`);
          Swal.fire("Terhapus!", "Data keluar berhasil dihapus.", "success");
          window.location.reload();
        }
      });
    },
  },
};
</script>
<style></style>
