<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
      <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent' : ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">Data Prestasi</h3>
          </div>
          <div class="col text-right">
            <!-- <base-button type="primary" size="sm">See all</base-button> -->

            <router-link to="/addprestasi">
              <base-button type="success" size="sm">Add Prestasi</base-button>
            </router-link>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
        >
          <tr>
            <th>ID Siswa</th>
            <th>Nama Siswa</th>
            <th>Jenis Prestasi</th>
            <th>ID Prestasi</th>
            <th>Action</th>
          </tr>

          <tr scope="row" v-for="dataprestasi in prestasi" :key="dataprestasi.id_prestasi">
            <td>{{ dataprestasi.id_siswa }}</td>
            <td>{{ dataprestasi.nama_lengkap }}</td>
            <td>{{ dataprestasi.jenis_prestasi }}</td>
            <td>{{ dataprestasi.id_prestasi }}</td>

            <td>
              <!-- <base-button
                type="danger"
                size="sm"
                v-on:click="deletePrestasi(dataprestasi.id_prestasi)"
              >Delete</base-button>-->

              <router-link :to="`/updateprestasi/${dataprestasi.id_prestasi}`">
                <base-button type="default" size="sm">Update</base-button>
              </router-link>
            </td>
          </tr>
        </table>

        <div
          class="card-footer d-flex justify-content-end"
          :class="type === 'dark' ? 'bg-transparent' : ''"
        >
          <base-pagination total="30"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "prestasi-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      prestasi: [],
    };
  },

  created() {
    axios
      .get("http://localhost:8081/api/v1/prestasi/getallprestasi")
      .then((response) => {
        this.prestasi = response.data.result;
        //   console.log(response);
      });
  },

  methods: {
    deletePrestasi(id_prestasi) {
      Swal.fire({
        title: "Konfirmasi Hapus Data Prestasi",
        text: "Apakah anda yakin ingin menghapus data prestasi?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
        cancelButtonText: "Tidak!",
      }).then((result) => {
        if (result.value) {
          axios.delete(
            `http://localhost:8081/api/v1/prestasi?id=${id_prestasi}`
          );
          Swal.fire("Terhapus!", "Data prestasi berhasil dihapus.", "success");
          window.location.reload();
        }
      });
    },
  },
};
</script>
<style></style>
