<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
      <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent' : ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">Data Priodik</h3>
          </div>
          <div class="col text-right">
            <!-- <base-button type="primary" size="sm">See all</base-button> -->

            <router-link to="/addpriodik">
              <base-button type="success" size="sm">Add Priodik</base-button>
            </router-link>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
        >
          <tr>
            <th>ID Priodik</th>
            <th>ID Siswa</th>
            <th>Nama Siswa</th>
            <th>Tinggi Badan</th>
            <th>Berat Badan</th>
            <th>Action</th>
          </tr>

          <tr scope="row" v-for="datapriodik in priodik" :key="datapriodik.id_priodik">
            <td>{{ datapriodik.id_priodik }}</td>
            <td>{{ datapriodik.id_siswa }}</td>
            <td>{{ datapriodik.nama_lengkap }}</td>
            <td>{{ datapriodik.tinggi_badan }}</td>
            <td>{{ datapriodik.berat_badan }}</td>

            <td>
              <base-button
                type="danger"
                size="sm"
                v-on:click="deletePriodik(datapriodik.id_priodik)"
              >Delete</base-button>

              <router-link :to="`/updatepriodik/${datapriodik.id_priodik}`">
                <base-button type="default" size="sm">Update</base-button>
              </router-link>
            </td>
          </tr>
        </table>

        <div
          class="card-footer d-flex justify-content-end"
          :class="type === 'dark' ? 'bg-transparent' : ''"
        >
          <base-pagination total="30"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "priodik-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      priodik: [],
    };
  },

  created() {
    axios
      .get("http://localhost:8081/api/v1/priodik/getallpriodik")
      .then((response) => {
        this.priodik = response.data.result;
        //   console.log(response);
      });
  },

  methods: {
    deletePriodik(id_priodik) {
      Swal.fire({
        title: "Konfirmasi Hapus Data Priodik",
        text: "Apakah anda yakin ingin menghapus data priodik?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
        cancelButtonText: "Tidak!",
      }).then((result) => {
        if (result.value) {
          axios.delete(`http://localhost:8081/api/v1/priodik?id=${id_priodik}`);
          Swal.fire("Terhapus!", "Data priodik berhasil dihapus.", "success");
          window.location.reload();
        }
      });
    },
  },
};
</script>
<style></style>
