<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
      <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent' : ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">Data Siswa</h3>
          </div>

          <div class="col text-right">
            <!-- <base-button type="primary" size="sm">See all</base-button> -->

            <router-link to="/addsiswa">
              <base-button type="success" size="sm">Add Siswa</base-button>
            </router-link>
          </div>
        </div>
        <div class="row align-items-center">
          <!-- <base-button type="primary" size="sm">See all</base-button> -->
          <div class="col">
            <input
              placeholder="Search Nama Siswa.."
              class="search form-control col-3 mt-2 mb-0.5"
              v-model="searchData"
            />
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
          :data="siswa"
        >
          <tr>
            <th>ID Siswa</th>
            <th>Nama Lengkap</th>
            <th>Jenis Kelamin</th>
            <th>Tempat Lahir</th>
            <th>Tanggal Lahir</th>
            <th>Action</th>
          </tr>

          <tr scope="row" v-for="siswa in datasiswa" :key="siswa.id_siswa">
            <td>{{ siswa.id_siswa }}</td>
            <td>{{ siswa.nama_lengkap }}</td>
            <td>{{ siswa.jenis_kelamin }}</td>
            <td>{{ siswa.tempat_lahir }}</td>
            <td>{{ siswa.tanggal_lahir }}</td>
            <td>
              <base-button type="danger" size="sm" v-on:click="deleteSiswa(siswa.id_siswa)">Delete</base-button>

              <router-link :to="`/updatesiswa/${datasiswa.id_siswa}`">
                <base-button type="default" size="sm">Update</base-button>
              </router-link>
            </td>
          </tr>
        </table>

        <div
          class="card-footer d-flex justify-content-end"
          :class="type === 'dark' ? 'bg-transparent' : ''"
        >
          <base-pagination total="30"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "projects-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      result: [],
      searchData: "",
    };
  },

  created() {
    axios
      .get("http://localhost:8081/api/v1/user/getallsiswa")
      .then((response) => {
        this.result = response.data.result;
        // console.log(response);
      });
  },

  computed: {
    datasiswa: function () {
      var siswa = this.result;
      var searchData = this.searchData;
      if (!searchData) {
        return siswa;
      }

      siswa = siswa.filter(function (item) {
        if (item.nama_lengkap.toLowerCase().indexOf(searchData) !== -1) {
          return item;
        }
      });
      return siswa;
    },
  },

  methods: {
    deleteSiswa(id_siswa) {
      Swal.fire({
        title: "Konfirmasi Hapus Data Siswa",
        text: "Apakah anda yakin ingin menghapus data siswa?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
        cancelButtonText: "Tidak!",
      }).then((result) => {
        if (result.value) {
          axios.delete(`http://localhost:8081/api/v1/user?id=${id_siswa}`);
          Swal.fire("Terhapus!", "Data siswa berhasil dihapus.", "success");
          window.location.reload();
        }
      });
    },
  },
};
</script>
<style></style>
