<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-center mb-1">
                  <h3 class="mb-0">Update Ayah</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="updateAyah()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Siswa"
                    v-model="ayah.id_ayah"
                    disabled
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Nama Ayah"
                    v-model="ayah.nama_ayah"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update Ayah</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-header bg-transparent pb-0">
              <div class="text-center mt-2 mb-3">
                <router-link to="/orangtua">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "update-ayah",

  data() {
    return {
      ayah: {
        id_ayah: "",
        nama_ayah: "",
      },

      getsiswa: [],
    };
  },

  created() {
    axios
      .get(`http://localhost:8081/api/v1/ayah?id=${this.$route.params.id}`)
      .then((response) => {
        // console.log(response);
        this.ayah.id_ayah = response.data.result[0].id_ayah;
        this.ayah.nama_ayah = response.data.result[0].nama_ayah;
      });
  },

  methods: {
    updateAyah() {
      axios.put(
        `http://localhost:8081/api/v1/ayah?id=${this.$route.params.id}`,
        this.ayah
      );
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Ayah Berhasil Diubah!",
      });
      window.location.replace("/orangtua#/orangtua");
    },
  },
};
</script>
