<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-center mb-1">
                  <h3 class="mb-0">Update Siswa</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="updateSiswa()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Siswa"
                    v-model="siswa.id_siswa"
                    disabled
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Nama Lengkap"
                    v-model="siswa.nama_lengkap"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Alamat"
                    v-model="siswa.alamat"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Handphone"
                    v-model="siswa.handphone"
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Email"
                    v-model="siswa.email"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update Siswa</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-header bg-transparent pb-0">
              <div class="text-center mt-2 mb-3">
                <router-link to="/tables">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "update-siswa",

  data() {
    return {
      siswa: {
        id_siswa: "",
        nama_lengkap: "",
        alamat: "",
        handphone: "",
        email: "",
      },

      getsiswa: [],
    };
  },

  created() {
    axios
      .get(`http://localhost:8081/api/v1/user?id=${this.$route.params.id}`)
      .then((response) => {
        // console.log(response);
        this.siswa.id_siswa = response.data.result[0].id_siswa;
        this.siswa.nama_lengkap = response.data.result[0].nama_lengkap;
        this.siswa.alamat = response.data.result[0].alamat;
        this.siswa.handphone = response.data.result[0].handphone;
        this.siswa.email = response.data.result[0].email;
      });
  },

  methods: {
    updateSiswa() {
      axios.put(
        `http://localhost:8081/api/v1/user?id=${this.$route.params.id}`,
        this.siswa
      );
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Siswa Berhasil Diubah!",
      });
      window.location.replace("/tables#/tables");
    },

    // getSiswa() {
    //   axios
    //     .get(`http://localhost:8081/api/v1/user?id=${this.$route.params.id}`)
    //     .then((response) => {
    //       this.siswa = response.data.result;

    //     });
    // },
  },
};
</script>
