<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-center mb-1">
                  <h3 class="mb-0">Update Priodik</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="updatePriodik()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Priodik"
                    v-model="priodik.id_priodik"
                    disabled
                  ></base-input>

                  <base-input
                    type="number"
                    class="input-group-alternative mb-3"
                    placeholder="Tinggi Badan"
                    v-model="priodik.tinggi_badan"
                  ></base-input>

                  <base-input
                    type="number"
                    class="input-group-alternative mb-3"
                    placeholder="Berat Badan"
                    v-model="priodik.berat_badan"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update Priodik</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-header bg-transparent pb-0">
              <div class="text-center mt-2 mb-3">
                <router-link to="/tables">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "update-priodik",

  data() {
    return {
      priodik: {
        id_priodik: "",
        tinggi_badan: "",
        berat_badan: "",
      },
    };
  },

  created() {
    axios
      .get(`http://localhost:8081/api/v1/priodik?id=${this.$route.params.id}`)
      .then((response) => {
        // console.log(response);
        this.priodik.id_priodik = response.data.result[0].id_priodik;
        this.priodik.tinggi_badan = response.data.result[0].tinggi_badan;
        this.priodik.berat_badan = response.data.result[0].berat_badan;
      });
  },

  methods: {
    updatePriodik() {
      console.log(this.priodik);
      axios.put(
        `http://localhost:8081/api/v1/priodik?id=${this.$route.params.id}`,
        this.priodik
      );
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Priodik Berhasil Diubah!",
      });
      window.location.replace("/tables#/tables");
    },
  },
};
</script>
