<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="container-fluid mt--7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-center mb-1">
                  <h3 class="mb-0">Update Info Beasiswa</h3>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <form @submit.prevent="updateBeasiswa()">
                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="ID Beasiswa"
                    v-model="beasiswa.id_beasiswa"
                    disabled
                  ></base-input>

                  <base-input
                    type="text"
                    class="input-group-alternative mb-3"
                    placeholder="Jenis Beasiswa"
                    v-model="beasiswa.jenis_beasiswa"
                  ></base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Update Beasiswa</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-header bg-transparent pb-0">
              <div class="text-center mt-2 mb-3">
                <router-link to="/tables">
                  <base-button type="warning" size="sm">Kembali</base-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </base-header>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "update-beasiswa",

  data() {
    return {
      beasiswa: {
        id_beasiswa: "",
        jenis_beasiswa: "",
      },
    };
  },

  created() {
    axios
      .get(`http://localhost:8081/api/v1/beasiswa?id=${this.$route.params.id}`)
      .then((response) => {
        // console.log(response);
        this.beasiswa.id_beasiswa = response.data.result[0].id_beasiswa;
        this.beasiswa.jenis_beasiswa = response.data.result[0].jenis_beasiswa;
      });
  },

  methods: {
    updateBeasiswa() {
      axios.put(
        `http://localhost:8081/api/v1/beasiswa?id=${this.$route.params.id}`,
        this.beasiswa
      );
      Swal.fire({
        icon: "success",
        title: "Berhasil",
        text: "Data Beasiswa Berhasil Diubah!",
      });
      window.location.replace("/tables#/tables");
    },
  },
};
</script>
