<template>
  <div>
    <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
      <div class="card-header border-0" :class="type === 'dark' ? 'bg-transparent' : ''">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">Data Wali</h3>
          </div>
          <div class="col text-right">
            <!-- <base-button type="primary" size="sm">See all</base-button> -->

            <router-link to="/addwali">
              <base-button type="success" size="sm">Add Wali</base-button>
            </router-link>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table align-items-center table-flush"
          :class="type === 'dark' ? 'table-dark' : ''"
          :thead-classes="type === 'dark' ? 'thead-dark' : 'thead-light'"
          tbody-classes="list"
        >
          <tr>
            <th>ID Wali</th>
            <th>Nama Wali</th>
            <th>NIK</th>
            <th>ID Siswa</th>
            <th>Nama Siswa</th>
            <th>Action</th>
          </tr>

          <tr scope="row" v-for="datawali in wali" :key="datawali.id_wali">
            <td>{{ datawali.id_wali }}</td>
            <td>{{ datawali.nama_wali }}</td>
            <td>{{ datawali.nik_wali }}</td>
            <td>{{ datawali.id_siswa }}</td>
            <td>{{ datawali.nama_lengkap }}</td>

            <td>
              <base-button type="danger" size="sm" v-on:click="deleteWali(datawali.id_wali)">Delete</base-button>

              <router-link :to="`/updatewali/${datawali.id_wali}`">
                <base-button type="default" size="sm">Update</base-button>
              </router-link>&nbsp;&nbsp;
              <router-link :to="`/waliassignanak/${datawali.id_wali}`">
                <base-button type="info" size="sm">Assign Anak</base-button>
              </router-link>
            </td>
          </tr>
        </table>

        <div
          class="card-footer d-flex justify-content-end"
          :class="type === 'dark' ? 'bg-transparent' : ''"
        >
          <base-pagination total="30"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "wali-table",
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      wali: [],
    };
  },

  created() {
    axios
      .get("http://localhost:8081/api/v1/wali/getallwali")
      .then((response) => {
        this.wali = response.data.result;
        //   console.log(response);
      });
  },

  methods: {
    deleteWali(id_wali) {
      Swal.fire({
        title: "Konfirmasi Hapus Data Wali",
        text: "Apakah anda yakin ingin menghapus data wali?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
        cancelButtonText: "Tidak!",
      }).then((result) => {
        if (result.value) {
          axios.delete(`http://localhost:8081/api/v1/wali?id=${id_wali}`);
          Swal.fire("Terhapus!", "Data wali berhasil dihapus.", "success");
          window.location.reload();
        }
      });
    },
  },
};
</script>
<style></style>
